/**
 * Contents
 *
 * Overrides........Overrides https://github.com/picocss/pico/blob/master/css/themes/default.css
 * Layout...........
 * Inputs...........
 */



 /**************************************
  * # Overrides
  **************************************/
:root:not([data-theme=light]) {
  --primary: #52a27e;
  --primary-hover: #4a8f6f;
  --border-radius: 0.5rem;
  --spacing: 1.25rem;
  --nav-element-spacing-vertical: 0;
  background: #f4f6f8;
}

nav {
  background: #fff;
}

button,
[role=button] {
  border-radius: 100px;
}

input[type=checkbox] {
  border-radius: 0.25rem;
}
input:not([type=checkbox],[type=radio],[type=range],[type=file])[type=search] {
  border-radius: var(--border-radius);
}

h1 {
  --typography-spacing-vertical: 0;
}



/**************************************
  * # Layout
  **************************************/
.flex {
  display: flex;
}

.flex__filters {
  max-width: 360px;
  align-self: flex-start;
}

.flex__data {
  flex: 1;
  margin-left: 50px;
}

@media all and (max-width: 980px) {
  .flex {
    flex-direction: column;
  }

  .flex__filters {
    align-self: stretch;
    max-width: none;
  }

  .flex__data {
    margin-left: 0;
  }
}

.sort-arrows {
  margin-left: 8px;
}

.top-spacer {
  margin-top: 30px;
}



/**************************************
  * # Inputs
  **************************************/
.input-container {
  position: relative;
}

.input-container .input-container__prefix {
  position: absolute;
  left: 20px;
}

.input-container--filter input {
  padding-left: 72px;
}

.input-container--filter .input-container__prefix {
  top: 16px;
  color: var(--muted-color);
}
